{% extends "layout.twig" %}

{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block content %}
    <article id="managed-hosting">
        <h1>{{ page.title }}</h1>

        <p>We made Kanboard, and we can host it for you. Kanboard hosting is made for small teams.</p>

        <p class="alert">Kanboard Hosting is in Beta!</p>

        <div id="managed-hosting-features">
            <p>
                The subscription is <strong>only ${{ price }}/month</strong> with a <strong>free trial period of {{ trial_period }} days</strong>.
            </p>

            <ul>
                <li>Dedicated instance and database</li>
                <li>Unlimited users and projects</li>
                <li>Unlimited attachments and storage</li>
                <li>Compatible with official plugins</li>
                <li>Automatic updates and backups</li>
                <li>Email notifications</li>
                <li>SSL Support</li>
            </ul>

            <p class="align-center">
                <a href="{{ signup_url }}" class="btn btn-blue" id="subscribe-link">Try Kanboard for free</a>
            </p>
        </div>

        <div id="managed-hosting-description">
            {{ page.content|raw }}
        </div>
    </article>

    <article id="hosting-providers">
        <h2>Other web-hosting for Kanboard</h2>

        <dl>
            <dt><a href="https://framaboard.org/">Framaboard</a></dt>
            <dd>
                Framasoft is a non-profit French organization that promotes free and open source software.
                <a href="https://framaboard.org/">Framaboard</a> is a free Kanboard hosting.
            </dd>
            <dt><a href="https://cloudron.io/">Cloudron</a></dt>
            <dd>
                <a href="https://cloudron.io/">Cloudron</a> is a private smartserver on which you can install web apps like Kanboard.
                You can install Kanboard into a custom domain and each installation is backed up and kept up-to-date with Kanboard releases automatically.
                <br><br>
                <a href="https://cloudron.io/button.html?app=net.kanboard.cloudronapp"><img src="https://cloudron.io/img/button.svg" alt="Install"></a>
            </dd>
            <dt><a href="https://www.scaleway.com/imagehub/kanboard/">Scaleway</a></dt>
            <dd>
                <a href="https://www.scaleway.com/">Scaleway</a> is a unique IaaS platform, offering on demand dedicated SSD cloud servers.
                You can <a href="https://www.scaleway.com/imagehub/kanboard/">install Kanboard with only one click</a> on a baremetal server in less than 44 seconds.
            </dd>
            <dt><a href="https://elements.heroku.com/buttons/kanboard/kanboard">Heroku</a></dt>
            <dd>
                <a href="https://heroku.com/">Heroku</a> is a cloud application platform.
                You can <a href="https://elements.heroku.com/buttons/kanboard/kanboard">deploy Kanboard in one click</a> on Heroku.
                <br><br>
                <a href="https://heroku.com/deploy?template=https://github.com/kanboard/kanboard"><img src="https://www.herokucdn.com/deploy/button.png"></a>
            </dd>
        </dl>
    </article>
{% endblock %}
